header
  nav
    .nav-container
      .nav-left-section
        a.nav-logo(
          href="/"
          aria-label="Bouton vers la page accueil"
        )
          img(
            src="assets/img/logo/ArtiWave-logo-L.png"
            alt="Logo du site Artiwave"
          )
        p ArtiWave
      .nav-center-section
        a.nav-link(
          href="/home"
          hx-get="/home"
          hx-target="#main-content"
          hx-swap="innerHTML"
          id="home-link"
          aria-label="Bouton vers la page d'accueil"
        ) Home

        a.nav-link(
          href="/articles"
          hx-get="/articles"
          hx-target="#main-content"
          hx-swap="innerHTML"
          id="articles-link"
          aria-label="Bouton vers la page des articles"
        ) Articles
      .nav-right-section

  script(type="module" src="assets/js/onLogout.js", defer)
